= link_to 'Arkita', "javascript:u=document.location.href;t=document.title; s=window.getSelection();void(window.open('http://localhost:3456/links/new?link[title]='+escape(t)+'&link[description]='+escape(s)+'&link[url]='+escape(u),'_blank','width=600,height=500,status=no,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no'));"