div.centerModal
	div.row
		div.ten.columns
			div.panel
				h5 保存成功！ 
				br
				p 窗口1秒后自动关闭..

javascript:
	$(function(){
		window.setTimeout(function(){
			if(window.opener != null){
				window.opener.close();
			}
			else{
				window.close();
			}
		}, 1000);
	})
	