body {
	-webkit-font-smoothing: subpixel-antialiased;
}

.action_add_urls {
	color: #3399cc;
	text-decoration: underline;
}

.topbar {
	margin-top: 10px;
}

.clear {
	clear:both;
}

.white {
	color: #fff;	
	a {
		color: #fff;
	}
}

.gray {
	color: #999;
	a {color: #999;}
}

.blue {
	color: #003399;
}

.highlight {
	font-style: italic;
}

.white-bg{
	background-color: #fff;
}

.gray-bg{
	background-color: #ccc;
}

img.favorite {
	height: 20px;
	width: 20px;	
	margin-bottom: -3px;
}

img.destroy{
	background: image-url('fav_blank.png');
}

img.create{
	background: image-url('fav_golden.png');
}

img.favorite:hover {
	cursor: pointer;
	// background: image-url('fav_gray.png');
}

.tag{
	background-color: #999;
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
	padding: 1px 3px 2px;
	margin: 0 5px;
	font-size: 9.75px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
}

.tag:hover {
	color: #ccc;
}

.tags {
	padding: 10px 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  list-style-type: none;

  .tag-big{
		margin: 0 5px;
		line-height: 35px;
		
		a {
			color: #666;	
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
			border: 1px solid #ccc;
			-webkit-border-radius: 2px;
		  -moz-border-radius: 2px;
		  -ms-border-radius: 2px;
		  -o-border-radius: 2px;
		  border-radius: 2px;
			padding: 3px 15px;
			background-color: #f5f5f5;
		}

		a:hover {
			color: #333;
			border: 1px solid #999;
		}

		.count {
			font-weight: normal;
			color: #333;
			padding-left: 1px;
		}
	}
}

.links {
	.link {
		padding: 10px 10px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		-webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  -ms-border-radius: 5px;
	  -o-border-radius: 5px;
	  border-radius: 5px;
	  background-color: #fefefe;

	  .title {
	  	padding-bottom: 6px;
	  	font-size:14px;
	  	font-weight:bold;
	  	a:hover {
		  	color: #777;
		  }
	  }

	  .subtitle {
	  	font-size: 11px;
	  	color:#999;
	  }
	}

	.active {
  	background-color: #f5f5f5;
  	border: 1px solid #aaa;
  }


}

#error_explanation{
	width: 500px;
	border: 1px solid #ccc;
	padding: 15px;
	margin: 0 auto;
	margin-bottom:30px;
	color: red;
		h2 {
			color: red;
			font-size:16px;
		}
		ul {
			margin-left:50px
		}
}

.hkey{
	font-family: monoca consolas 'courier new';
	color: yellow;
	font-weight: bold;	
}

.underline{
	text-decoration: underline;
}

.centerModal{
	margin:120px auto;
}

.fullbackground{
	background-color: #333;
	/*background: image-url("akita_bg.jpg") no-repeat;*/
}

.eighty-per{
	width: 80%;
}

.pd1 {
	padding: 0 1em;
}

.pb3 {
	padding-bottom: 3em;
}

.pr1{
	padding-right: 1em;	
}

.ml1{
	margin-left: 1em;
}

.ml3{
	margin-left: 3em;
}

.mt1{
	margin-top: 1em;
}

.mt5{
	margin-top: 5em;
}

.mr1{
	margin-right: 1em;	
}

.mr3{
	margin-right: 3em;	
}

.pd1p{
	padding: 3px;
}

.code{
	font-size:11px;
}

.prot{
	font-family: Georgia;
	color: #006699;
}

.bold{
	font-weight:bold;
}

.modal {
	background-color: #333;
	/*opacity: 60%;*/
	h5 {
		color: #fff;
	}
	/*table tbody tr:nth-child(even) {*/
	table {
		background-color: #333;
		tbody tr{
			background-color: #333;
			height:20px;
			td{
				padding: 5px;
				background-color: #333;
				color:#fff;
				height:20px;
			}	
		}
		border:0px;
	}
}

.lists {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

.list { 
	-moz-column-break-inside: avoid; 
	-webkit-column-break-inside: avoid; 
	column-break-inside: avoid; 
	display: inline-block; 
	margin: 0 2px 15px; 
	padding: 15px; 
	border: 1px solid #F6F6F6; 
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4); 
	background: #FEFEFE; 
	background-image: linear-gradient(45deg, #FFF, #F9F9F9); 
	width: 250px;
	overflow: hidden;
	ol {
		margin-bottom: 6px
	}

	.subtitle {
  	font-size: 11px;
  	color:#999;
  }
	.invisiable {
		visibility: hidden;
	}
	
}


$page_color: #333;
.pagination {
  padding-bottom: 3px; padding-top: 3px; text-align: center; font-size:12px;
}
.pagination a {
  border-right: #eee 1px solid; padding-right: 5px; border-top: #eee 1px solid; padding-left: 5px; padding-bottom: 2px; margin: 2px; border-left: #eee 1px solid; color: $page_color; padding-top: 2px; border-bottom: #eee 1px solid; text-decoration: none;
}
.pagination a:hover {
  border-right: #999 1px solid; border-top: #999 1px solid; border-left: #999 1px solid; color: #666; border-bottom: #999 1px solid;
}
.pagination a:active {
  border-right: #999 1px solid; border-top: #999 1px solid; border-left: #999 1px solid; color: #666; border-bottom: #999 1px solid;
}
.pagination .current {
  border-right: $page_color 1px solid; padding-right: 5px; border-top: $page_color 1px solid; padding-left: 5px; font-weight: bold; padding-bottom: 2px; margin: 2px; border-left: $page_color 1px solid; color: #fff; padding-top: 2px; border-bottom: $page_color 1px solid; background-color: $page_color;
}
.pagination .disabled {
  border-right: #eee 1px solid; padding-right: 5px; border-top: #eee 1px solid; padding-left: 5px; padding-bottom: 2px; margin: 2px; border-left: #eee 1px solid; color: #ddd; padding-top: 2px; border-bottom: #eee 1px solid;
}